.folder-sidebar {
    padding: 10px;
    width: 250px;
    background-color: var(--qu-sidebar-background);
    height: 100%;
    border-right: 1px solid var(--qu-border-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
}

.folder-sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--qu-text);
    transition: background-color 0.2s ease-in-out;
    padding: 5px 10px;
    border-radius: 8px;
}

.folder-sidebar-item:hover {
    cursor: pointer;
    background-color: var(--qu-item-hover);
}

.folder-sidebar-item-dropdown-trigger {
    opacity: 0;
}

.folder-sidebar-item-dropdown-trigger[data-state="open"] {
    opacity: 1;
}

.folder-sidebar-item:hover>.folder-sidebar-item-dropdown-trigger {
    opacity: 1;
}

.folder-sidebar-item.active {
    background-color: var(--qu-item-active);
    color: var(--qu-accent);
}

.folder-sidebar-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.folder-sidebar-group-title {
    font-size: 14px;
    padding-left: 10px;
    color: var(--qu-text-secondary);
}

.folder-sidebar-group-items {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

/* Mailbox Sidebar */

.mailbox-sidebar {
    /* padding: 10px; */
    width: 350px;
    /* background-color: var(--qu-sidebar-background); */
    height: 100%;
    border-right: 1px solid var(--qu-border-color);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-height: 100%;
}

.mail-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--qu-text);
    transition: background-color 0.2s ease-in-out;
    padding: 10px 15px;
    /* border-radius: 8px; */
    border-bottom: 1px solid var(--qu-border-color);
}

.mail-item:hover {
    cursor: pointer;
    background-color: var(--qu-item-hover);
}

.mail-item.active {
    background-color: var(--qu-item-active);
    color: var(--qu-accent);
}

.mail-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

.mail-item-title {
    font-size: 16px;
    font-weight: 500;
}

.mail-item-subtitle {
    font-size: 14px;
    color: var(--qu-text-secondary);
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    min-width: 0;
}

.mail-header {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 45px;
    padding: 0 15px;
    border-bottom: 1px solid var(--qu-border-color);
    background-color: var(--qu-sidebar-background);
    flex-shrink: 0;
}

.mailbox-sidebar-items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    max-height: 100%;
}

.mail-header-title {
    font-size: 16px;
    font-weight: 500;
}

.mail-page-sender-name {
    font-size: 16px;
    font-weight: 500;
}

.mail-page-sender-email {
    font-size: 14px;
    color: var(--qu-text-secondary);
}

.mail-page-main {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reply-composer {
    width: 100%;
    background-color: var(--qu-header-background);
    border-radius: 8px;
    border: 1px solid var(--qu-border-color);
}

.reply-composer-header {
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid var(--qu-border-color);
    height: 45px;
    display: flex;
    gap: 6px;
    flex-direction: row;
    align-items: center;
}

.mail-page-main {
    height: 100%;
    overflow-y: scroll;
}

.tiptap {
    outline: none !important;
    border: none !important;
}

pre>code {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: block;
}

ul {
    padding-left: 20px;
    list-style-type: disc;
}

ol {
    padding-left: 20px;
    list-style-type: decimal;
}

* {
    user-select: none;
}